<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Exchange Rate Converter{% endblock %}</title>
  </head>
  <body>
    <h1>Fx Rate Converter</h1>
    {% with messages = get_flashed_messages(with_categories = true)%} {% if
    messages %} {% for category, msg in get_flashed_messages(with_categories =
    true) %}
    <p class="{{category}}">{{msg}}</p>
    {% endfor %} {% endif %} {% endwith %} {% block content %}
    <form action="/convert" method="POST">
      <div class="form-control">
        <label for="convert-from">Convert from: </label>
        <input
          type="text"
          id="convert-from"
          name="convert-from"
          placeholder="USD"
          required
        />
      </div>
      <div class="form-control">
        <label for="convert-to">Convert to: </label>
        <input
          type="text"
          id="convert-to"
          name="convert-to"
          placeholder="GBP"
          required
        />
      </div>
      <div class="form-control">
        <label for="amount">Amount to Convert: </label>
        <input
          type="number"
          id="amount"
          name="amount"
          placeholder="100"
          min="1"
          required
        />
      </div>
      <div class="form-control">
        <button id="submit-btn">Convert</button>
      </div>
    </form>
    {% endblock %}
  </body>
</html>
